<app-header></app-header>
<div class="row text-center">
  <div class="col-xs-12">
    <h1 id="WelkomTekst">Welcome to our game website!</h1>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 text-center">
    <label>Take a look at our collection of games! All games are linked to their developer and genre.</label>
  </div>
  <div class="col-xs-4 text-center">
    <label>Take a look at our developers, each developer has at least developt one game. You can search for a specific
      game or developer in the search area.</label>
  </div>
  <div class="col-xs-4 text-center">
    <label>Our games are organised by genre, take a look at our genres. The games are ordened by genre!</label>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 text-center">
    <a routerLink='/games'><button type="button" class="btn btn-danger btn-lg btn-block">Games</button></a>
  </div>
  <div class="col-xs-4 text-center">
    <a routerLink='/developers'><button type="button" class="btn btn-danger btn-lg btn-block">Developer</button></a>
  </div>
  <div class="col-xs-4 text-center">
    <a routerLink='/genres'><button type="button" class="btn btn-danger btn-lg btn-block">Genres</button></a>
  </div>
</div>